<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>985102702344-e96ob5fe8i2uq67mgidrbfhafulau606.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985102702344-e96ob5fe8i2uq67mgidrbfhafulau606</string>
	<key>API_KEY</key>
	<string>AIzaSyDhc0b7JDLk3MVghATdTnBL8B9OPBIKUgk</string>
	<key>GCM_SENDER_ID</key>
	<string>985102702344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rtn.pos</string>
	<key>PROJECT_ID</key>
	<string>filmes-favoritos</string>
	<key>STORAGE_BUCKET</key>
	<string>filmes-favoritos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985102702344:ios:1051fa60e025343b</string>
	<key>DATABASE_URL</key>
	<string>https://filmes-favoritos.firebaseio.com</string>
</dict>
</plist>